.content {
    padding-left: 20px;
    padding-right: 20px;
}

.table-budget button {
    background: none;
    border: none;
}

.table-budget button img {
    height: 20px;
    width: 20px;
    transition: transform 0.2s;
}

.table-budget tbody button img:hover {
    transform: scale(1.5);
}

.table-budget tfoot tr td.add-item {
    text-align: center;
}

.table-budget tfoot tr td.add-item button {
    color: #a1ff6b;
    font-size: 1.0rem;
    transition: transform 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.table-budget tfoot tr td.add-item button:hover {
    transform: scale(1.2);
}

.modal-backdrop {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #233352;
  color: #fff;
  padding: 2rem;
  border-radius: 16px;
  min-width: 300px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.3);
  text-align: center;
}