.expense {
    color: #FF6B6B;
}

.income {
    color: #4ECDC4;
}

.graph {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.pie-chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-budget table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-budget {
    flex: 1;
    min-width: 350px;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE and Edge */
    background-color: #233352;
    border-radius: 16px;
}

.table-budget::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
}

.table-budget tr{
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-budget th, .table-budget td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #1E2A38;
}

.table-budget thead tr th select {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
}